<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="style.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
</head>
<body>

	<div id="app">
		<div class="playerpanel_div playerpanel_div_main"><playerpanel
			v-bind:players="players"
			v-bind:scry_cache="scry_cache"
			v-bind:stacks="stacks"
			v-bind:player_i="player_i"
		></playerpanel></div>
		<div class="playerpanel_div opponentpanel_div_opp1"><opponentpanel
			v-bind:players="players"
			v-bind:scry_cache="scry_cache"
			v-bind:stacks="stacks"
			v-bind:player_i="nextIndex"
		></opponentpanel></div>
		<div class="playerpanel_div opponentpanel_div_opp2"><opponentpanel
			v-bind:players="players"
			v-bind:scry_cache="scry_cache"
			v-bind:stacks="stacks"
			v-bind:player_i="nextNextIndex"
		></opponentpanel></div>
		<div class="playerpanel_div opponentpanel_div_opp3"><opponentpanel
			v-bind:players="players"
			v-bind:scry_cache="scry_cache"
			v-bind:stacks="stacks"
			v-bind:player_i="nextNextNextIndex"
		></opponentpanel></div>
		<div id="info_div">
			<img class="zoom_img" v-bind:src="zoom_link"/>
			Player: 
			<button v-on:click="previousPlayer()">Previous Player</button>
			{{ player_i + 1}}
			<button v-on:click="nextPlayer()">Next Player</button>
			<br>
			<button v-on:click="decreaseHealth()">-</button>
			Health: {{ players[player_i].health }}
			<button v-on:click="increaseHealth()">+</button>
			<br>
			<button v-on:click="decreasePoison()">-</button>
			Poison: {{ players[player_i].poison }}
			<button v-on:click="increasePoison()">+</button>
			<br>
			<button v-on:click="decreaseComDam1()">-</button>
			Commander Damage 1: {{ players[player_i].ComDam1 }}
			<button v-on:click="increaseComDam1()">+</button>
			<br>
			<button v-on:click="decreaseComDam2()">-</button>
			Commander Damage 2: {{ players[player_i].ComDam2 }}
			<button v-on:click="increaseComDam2()">+</button>
			<br>
			<button v-on:click="decreaseComDam3()">-</button>
			Commander Damage 3: {{ players[player_i].ComDam3 }}
			<button v-on:click="increaseComDam3()">+</button>
			<br>
			<button v-on:click="decreaseComTax()">-</button>
			Commander Tax: {{ players[player_i].ComTax }}
			<button v-on:click="increaseComTax()">+</button>
			<button v-on:click="resetAll()">Reset All</button>
			<button v-on:click="dealAllHands()">Deal All Hands</button>
		</div>
		<div id="popup_div" v-bind:class='{ hidden: popup == "hidden"}'>
			<button v-on:click="closePopup()">Close</button>
			<button v-on:click="initSim()">Start</button>
			<div v-if='popup == "init"'>
				<h3>Player 1</h3>
				Deck:
				<textarea style="width:200px;height:200px;" v-model="players[0].starting_library"></textarea>
				Sideboard:
				<textarea style="width:200px;height:200px;" v-model="players[0].starting_sideboard"></textarea>
				Command zone:
				<textarea style="width:200px;height:200px;" v-model="players[0].starting_command"></textarea>
				<br>
				<h3>Player 2</h3>
				Deck:
				<textarea style="width:200px;height:200px;" v-model="players[1].starting_library"></textarea>
				Sideboard:
				<textarea style="width:200px;height:200px;" v-model="players[1].starting_sideboard"></textarea>
				Command zone:
				<textarea style="width:200px;height:200px;" v-model="players[1].starting_command"></textarea>
				<br>
				<h3>Player 3</h3>
				Deck:
				<textarea style="width:200px;height:200px;" v-model="players[2].starting_library"></textarea>
				Sideboard:
				<textarea style="width:200px;height:200px;" v-model="players[2].starting_sideboard"></textarea>
				Command zone:
				<textarea style="width:200px;height:200px;" v-model="players[2].starting_command"></textarea>
				<br>
				<h3>Player 4</h3>
				Deck:
				<textarea style="width:200px;height:200px;" v-model="players[3].starting_library"></textarea>
				Sideboard:
				<textarea style="width:200px;height:200px;" v-model="players[3].starting_sideboard"></textarea>
				Command zone:
				<textarea style="width:200px;height:200px;" v-model="players[3].starting_command"></textarea>
				<br>
			</div>
			<div v-if='popup == "library"'>
				Library
				<stack
					v-for="stack in library"
					v-bind:stack="stack"
					v-bind:key="stack.id"
					v-bind:scry_cache="scry_cache"
				></stack>
			</div>
			<div v-if='popup == "graveyard"'>
				Graveyard
				<stack
					v-for="stack in graveyard"
					v-bind:stack="stack"
					v-bind:key="stack.id"
					v-bind:scry_cache="scry_cache"
				></stack>
			</div>
			<div v-if='popup == "exile"'>
				<stack
					v-for="stack in exile"
					v-bind:stack="stack"
					v-bind:key="stack.id"
					v-bind:scry_cache="scry_cache"
				></stack>
			</div>
			<div v-if='popup == "sideboard"'>
				Sideboard
				<stack
					v-for="stack in sideboard"
					v-bind:stack="stack"
					v-bind:key="stack.id"
					v-bind:scry_cache="scry_cache"
				></stack>
			</div>
			<div v-if='popup == "command"'>
				Command Zone
				<stack
					v-for="stack in command"
					v-bind:stack="stack"
					v-bind:key="stack.id"
					v-bind:scry_cache="scry_cache"
				></stack>
			</div>
		</div>
	</div>

</body>

<script src="main.js"></script>

</html>