.creatures_div {
	width: 100%;
	height: 26%;
	left: 0;
	top: 0;
	position: absolute;
	border: 1px solid black;
}

.enchantments_div {
	width: 100%;
	height: 26%;
	left: 0;
	top: 26%;
	position: absolute;
	border: 1px solid black;
}

.lands_div {
	width: 100%;
	height: 26%;
	left: 0;
	top: 52%;
	position: absolute;
	border: 1px solid black;
}

.opponent_info_span {
	width: 100%;
	height: 10%;
	left: 0;
	top: 0;
	position: absolute;
	border: 1px solid black;
}

.opponent_creatures_div {
	width: 100%;
	height: 30%;
	left: 0;
	top: 10%;
	position: absolute;
	border: 1px solid black;
}

.opponent_enchantments_div {
	width: 100%;
	height: 30%;
	left: 0;
	top: 40%;
	position: absolute;
	border: 1px solid black;
}

.opponent_lands_div {
	width: 100%;
	height: 30%;
	left: 0;
	top: 70%;
	position: absolute;
	border: 1px solid black;
}

.hand_div {
	width: 60%;
	height: 20%;
	bottom: 0;
	position: absolute;
	border: 1px solid black;
}

#info_div {
	width: 15%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid black;
}

img {
	height: 100px;
	width: 72px;
}

.tapped {
	transform: rotate(90deg);
}

.drop-zone {
    background-color: #eee;
  }

.drag-el {
	background-color: #fff;
}

.stack_div {
	width: 100px;
	float: left;
}

input {
	width: 90px;
}

.zone_div {
	overflow-y: scroll;
}

.bordered {
	border: 1px solid black;
}

.zoom_img {
	width: 100%;
	height: auto;
}

#popup_div {
	width: 90%;
	height: 90%;
	position: absolute;
	left: 5%;
	top: 5%;
	border: 1px solid black;
	background-color: #fff;
	overflow-y: scroll;
}

.library_div {
	width: 10%;
	height: 20%;
	position: absolute;
	border: 1px solid black;
	bottom: 0;
	left: 60%;
	bottom: 0;
}

.graveyard_div {
	width: 6%;
	height: 20%;
	position: absolute;
	border: 1px solid black;
	left: 70%;
	bottom: 0;
}

.exile_div {
	width: 6%;
	height: 20%;
	position: absolute;
	border: 1px solid black;
	left: 76%;
	bottom: 0;
}

.sideboard_div {
	width: 6%;
	height: 20%;
	position: absolute;
	border: 1px solid black;
	left: 82%;
	bottom: 0;
}

.command_div {
	width: 6%;
	height: 20%;
	position: absolute;
	border: 1px solid black;
	left: 88%;
	bottom: 0;
}

.trash_div {
	width: 6%;
	height: 20%;
	position: absolute;
	bottom: 0;
	right: 0;
	border: 1px solid black;
}

.hidden {
	display:none;
}

#app {
	width: 99.7vw;
	height: 99.7vh;
	position: absolute;
	top: 0;
	left: 0;
}

.playerpanel_div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.playerpanel_div_main {
	width: 84%;
	height: 80%;
	position: absolute;
	left: 0;
	top: 20%;
}

.opponentpanel_div_opp1 {
	width: 28%;
	height: 20%;
	position: absolute;
	top: 0;
	left: 0;
}


.opponentpanel_div_opp2 {
	width: 28%;
	height: 20%;
	position: absolute;
	top: 0;
	left: 28%;
}

.opponentpanel_div_opp3 {
	width: 28%;
	height: 20%;
	position: absolute;
	top: 0;
	left: 56%;
}